<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">
     
    <h:head>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body styleClass="body">
        <h1>#{msgs.thanks}</h1>
        <p>#{msgs.hereIs}</p>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="#{msgs.firstName}"/>
                <h:outputText value="#{userBean.firstName}"/>
                <h:outputText value="#{msgs.lastName}"/>
                <h:outputText value="#{userBean.lastName}"/>
                <h:outputText value="#{msgs.email}"/>
                <h:outputText value="#{userBean.email}"/>

            </h:panelGrid>
            <p>#{msgs.another}</p>
            <h:button value="#{msgs.return}" class="margin_left" outcome="join_email.xhtml"/>
        </h:form>
    </h:body>
</html>