<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>JSF Example</title>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body styleClass="body">
        <h1>Join our email list</h1>
        <p>To join our email list, enter your name and
            email address below.</p>

        <h:form>
            <h:panelGrid columns="2">
                <h:outputText value="First name :" styleClass="pad_top"/>
                <h:inputText id="firstName" value="#{userBean.firstName}" pt:required="true"/>

                <h:outputText value="Last name :" styleClass="pad_top"/>
                <h:inputText id="lastName" value="#{userBean.lastName}"  pt:required="true"/>

                <h:outputText value="Email :" styleClass="pad_top"/>
                <h:inputText id="email" value="#{userBean.email}" pt:type="email"  pt:required="true"/>

                <h:commandButton type="submit" value="Join Now" class="margin_left"  action="#{userIOBean.addRecord}"/>

            </h:panelGrid>
        </h:form>
    </h:body>
</html>

